<!DOCTYPE html>
<html>
<style>
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;}
  
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h2>Create a Recipe</h2>

<div>
  <form action="/recipes" method="post">
    <label for="name"><strong>Recipe Name:</strong></label>
      <input type="text" id="name" name="name" required>
    <br></br>
    <label for="ingredients"><strong>Ingredients:</strong></label></br><br>
      <textarea name="ingredients" cols="40" rows="5" id="ingredients" required></textarea>
    <br>
    <label><strong>Instructions:</strong></label><br />
      <textarea name="instructions" cols="40" rows="5" id="instructions" required></textarea>
    <br>
    
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>

