<h1>Recipes by <%= @user.username %></h1>
  <% @recipes.each do |recipe| %>
  <ul>
  <li>
    <a href="/recipes/<%= recipe.id%>"><%= recipe.name %></li></a>
  </ul>
  <% end %>
<br></br>
<br></br>
    <h2>What would you like to do next?</h2>
  <div class="btn-group">
     <form action="/recipes/create_recipe" method=get>
    <input type="submit" class="button" value="Create a Recipe"/>
  </form>
  <form action="/profile" method=get>
    <input type="submit" class="button" value="My Profile"/>
  </form>
  <form action="/logout" method=get>
    <input type="submit" class="button" value="Logout"/>
</div>
