<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
  <h2>Recipes by <%= @user.username %></h2>
  <% @recipes.each do |recipe| %>
    <ul>
      <li>
      <a href="/recipes/show"><%= recipe.name %></li></a>
    </ul>
  <% end %>
<br></br>
<br></br>
<h2>What would you like to do next?</h2>
<a href="/recipes/create_recipe"><button>Create another Recipe</button></a><br>
</br>
<a href="/recipes/edit_recipe"><button>Edit a Recipe</button></a><br>
</br>
<a href="/profile"><button>Go to Your Profile</button></a><br>
</br>
<a href="/logout"><button>Log Out</button></a>

</body>
</html>
