<h1>Show Recipe</h1>
<h1>Include Edit option</h1>
<h1>Include Delete option</h1>
<h1>Include Logout option</h1>
<h1>Include return to Profile</h1>


<%= @recipe.name %>
<%= @recipe.ingredients %>
<%= @recipe.instructions %>

