
<div class="btn-group">
  <p><img src="images/spices.png" alt="image" style="width:150px"><h1>Hello <%= @user.username %>!</h1>
  Welcome to your Profile Page.</p>

  <h3>What would you like to do?</h3>
  <form action="/recipes/create_recipe" method=get>
    <input type="submit" class="button" value="Create a Recipe"/>
  </form>
  <form action="/recipes" method=get>
    <input type="submit" class="button" value="View Your Recipes"/>
  </form>
  <form action="/logout" method=get>
    <input type="submit" class="button" value="Logout"/>
</div>

<div class="sidebar">
      <h3>This Weeks Top Recipes!</h3>
        <p><a href="/recipes/16">Spinach Alfredo Lasagna</a></p>
</div>

    <br></br>
    <br></br>
    <br></br>



