<h1>Hello, <%= @user.username %>. Welcome to your Profile Page.</h1>
<h2>What would you like to do?</h2>
<a href="/recipes/create_recipe"><button>Create a Recipe</button></a>
<a href="/recipes/recipes"><button>View Your Recipes</button></a>
<a href="/logout"><button>Log Out</button></a>
