<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to the Recipe Keeper!</h1>

  
    <div class="sidebar">
      <h3>Login or Sign Up:</h3>
        <p><a href="/login">Login</a></p>
        <p><a href="/signup">Sign Up</a></p>
    </div>
    <br></br>
    <br></br>
    <br></br>

    <div class="content">
    <h2>You can store all of your favorite recipes here!</h2><br> 
      <p>To begin, please Sign Up or Login.</p></br>
    </div>
  </div>
</div>
