
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to the Recipe Keeper!</h1>

  
    <div class="sidebar">
      <h3>This Weeks Top Recipes!</h3>
        <p><a href="/recipes/16">Spinach Alfredo Lasagna</a></p>
    </div>
    <br></br>
    <br></br>
    <br></br>

    <div class="content">
    <h2>You can store all of your favorite recipes here!</h2><br> 
      <p>To begin, please Sign Up or Login.</p></br>
      <div class="btn-group">
      <form action="/login" method=get>
        <input type="submit" class="button" value="Login"/>
      <form action="/signup" method=get>
        <input type="submit" class="button" value="Sign Up"/>
      </form>
    </div>
    </div>
    
    
    
  </div>
</div>
