<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to the Recipe Keeper!</h1>

    <div class="content">
      <p>You can store all of your favorite recipes here!<br> 
      To begin, please Sign Up or Login.</p></br>
    </div>

    <div class="sidebar">
      <h3>Login or Sign Up</h3>
        <p><a href="/login">Login</a></p>
        <p><a href="/signup">Sign Up</a></p>
    </div>

  </div>
</div>
