<div class="container">
  <header><img src="images/spices.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Recipe Keeper</h2>

    <div class="content">
      <p>You can store all of your favorite recipes here! You can also add friends and view their recipes!
      To begin, please Signup or Login.</p>
    </div>

    <div class="sidebar">
      <h3>Login or Signup</h3>
        <p><a href="/login">Login</a></p>
        <p><a href="/signup">Sign Up</a></p>
    </div>

  </div>
</div>
