
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <p><img src="images/homepage.png" alt="image" style="width:300px"><h1>Welcome to the Recipe Keeper!</h1></p>

    <div class="content">
    <h2>You can store all of your favorite recipes here!</h2><br> 
    <p>To begin, please Sign Up or Login.</p></br>
    <div class="btn-group">
      <form action="/login" method=get>
      <input type="submit" class="button" value="Login"/>
      </form>
    </div>
    <div class="btn-group">
      <form action="/signup" method=get>
      <input type="submit" class="button" value="Sign Up"/>
    </form>
    </div>
    </div>
    
    <div class="sidebar">
      <h3>This Weeks Top Recipes!</h3>
      <p><a href="/recipes/16">Spinach Alfredo Lasagna</a></p>
      <p><a href="/recipes/22">Corn Casserole</a></p>
    </div>

  </div>
</div>
